<footer class="footer">
    <ul class="footer-list">
      <li><a class="link-footer" href="https://adalab.es/" target="_blank">articles</a></li>
      <li><a class="link-footer" href="https://adalab.es/" target="_blank">books</a></li>
      <li><a class="link-footer" href="https://adalab.es/" target="_blank">events</a></li>
      <li><a class="link-footer" href="https://adalab.es/" target="_blank">reasons</a></li>
      <li><a class="link-footer" href="https://adalab.es/" target="_blank">tips</a></li>
    </ul>
    <ul class="footer-list">
      <li><a class="link-footer" href="https://twitter.com/adalab_digital" target="_blank">twitter</a></li>
      <li><a class="link-footer" href="https://www.instagram.com/adalab_digital/?hl=es" target="_blank">instagram</a></li>
      <li><a class="link-footer" href="https://adalab.es/" target="_blank">mastodon.social</a></li>
    </ul>
    <div class="copy">
      <p class="date">©2022</p>
      <p class="date">we &nbsp;<span class="heart">&#10084;</span>&nbsp; components</p>
    </div>
  </footer>