<main>
    <section>
      <div class="main-section" id="principal-section">
        <h1 class="title">anonymous proxy</h1>
        <p class="sentence">In hac habitasse platea dictumst.</p>
        <a class="link-down" href="#reasons-section"><img class="arrow" src="./assets/images/ico-scroll-down.svg" alt="flecha para abajo"></a>
      </div>
    </section>
    <section>
      <div class="section-2">
        <p class="insomnia-tips">Insomnia Tips</p>
        <h2 class="looking">looking through a window</h2>
        <p class="donec">Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus semper sodales rutrum.</p>
        <a href="#"><button class="go" href="#">go</button></a>
      </div>
    </section>
    <section>
      <div class="reasons" id="reasons-section">
        <h2 class="explication">3 reasons to purchase</h2>
        <div class="box">
          <div>
            <h5 class="explication-1">Ut sed metus</h5>
            <p class="text-1">Lorem ipsum dolor sit amet, consecteur.</p>
          </div>
          <div> 
            <h5 class="explication-1">Curabitur ac erat</h5>
            <p class="text-1">Mauris mattis urna quis lorem molestie.</p>
          </div> 
          <div> 
            <h5 class="explication-1">Morbi dictum</h5>
            <p class="text-1">Aliquam in dolor et dolor tincidunt.</p>
          </div>
        </div>
        <a class="more-reasons" href="#">More reasons</a>
        <a href="#principal-section"><img class="up-arrow" src="./assets/images/ico-arrow.svg" alt="flecha para arriba"></a>
      </div>
    </section>
  </main>