@import 'core/variables';
@import 'core/reset';
@import 'layout/header';
@import 'layout/hero';
@import 'layout/reasons';
@import 'layout/explication';
@import 'layout/footer';
/*@import 'pages/index';*/

html {
    scroll-behavior: smooth;
  }

/* MODO TABLET */

@media all and (min-width: 768px){
    .menu{     
        height: 40px;
        top: 0;         
    }
    .lines{
        margin: 10px;
    }
    .main-section{
        height: 100vh;
        width: 100vw;
    }
    .sentence{
        font-size: 24px;
        position: absolute;
        margin-bottom: 10vh;
        width: 48vw;
    }
    .section-2{
        margin-top: -3%;
        margin-left: 3%;
        margin-bottom: -6%;
    }
    .looking{
        padding-bottom: 40px;
    }
    .donec{
        width: 619px; 
    }
    .go{
        margin-top: -10px;
        margin-left: 20px;
        padding-left: 30px;
        padding-right: 30px;  
    } 
    .box{
        display: grid;
        grid-template-columns: 200px 200px 200px;
        place-content: center;
        column-gap: 8%;
    }
    .explication{
        display: grid;
        place-content: center;
    }  
    .explication-1{
        font-size: 24px;
    }   
    .text-1{
        width: 205px;
    }
    .more-reasons{
        display: grid;
        place-content: center;
        margin: 35%;
        margin-top: 8%;
        margin-bottom: 5%;
    }
    .up-arrow{
        position: relative;
        margin-bottom: -45%; 
        margin-left: -35%;
    }
    .footer{
        display: flex;   
        flex-direction: row;
        justify-content: center;
    }
    .footer-list{
        width: 33%;
        display: flex;
        align-items: stretch;
    }
    .copy{
        width: 33%;
        order: -1;
    }
    .date{
        display: flex;
        justify-content: flex-start;
    }  
}


/* MODO ORDENADOR */


@media all and (min-width:1280px){
    .menu{     
        height: 40px;               
    }
    .main-section{
        width: 100%;
    }
    .sentence{
        position: absolute;
        width: auto;
        padding-bottom: 2vh;
    }
    .section-2{
        margin-top: 0;
        margin-left: 25%;
        margin-bottom: -10%;
    }
    .looking{
        font-size: 32px;
    }
    .donec{
        width: 620px;
    }
    .go{
        padding-left: 60px;
        padding-right: 60px;  
    }   
    .explication{
        font-size: 32px;
    }
    .box{
        display: grid;
        grid-template-columns: 300px 300px 330px;
        column-gap: 20%;
    }
    .explication-1{
        font-size: 24px;
    }   
    .text-1{
        width: 340px;
    }
    .more-reasons{
        margin-top: 5%;
        margin-bottom: 2%;
    }
    .up-arrow{
        margin-bottom: -45.4%; 
    }
    .footer-list{
        width: 12%;
    }
    .copy{
        width: 16%;
    }
}

